{count($participants)} {foreach $participants as $participant}{first} ({/first}{include 'user.latte', user => $participant}{sep}, {/sep}{last}){/last}{/foreach}
{control participateForm-$meeting->id}
