{block content}
<h2 n:inner-block="title">Uživatelé</h2>
<table class="table table-striped table-condensed">
<thead>
<tr>
<th>Jméno</th>
<th n:if="$allowed('user', 'seeMailAddress')">E-Mail</th>
<th>Akce</th>
</tr>
</thead>
<tbody>
<tr n:foreach="$profiles as $profile">
<td>{$profile|userLink}</td>
<td n:if="$allowed('user', 'seeMailAddress')">{$profile->email}</td>
<td>{if $allowed($profile, 'sendMail')}<a n:href="Mail:create $profile->id">Poslat zprávu</a>{/if}</td>
</tr>
</tbody>
</table>
