{var $robots = noindex}
{block content}
<h2 n:block="title">{ifset $token}Změnit heslo{else}Zapomenuté heslo{/ifset}</h2>
{ifset $token}
{control passwordResetForm}
{else}
{control passwordResetRequestForm}
{/ifset}
