{block content}
<h2 n:inner-block="title">Vytvořit sraz</h2>

{control meetingForm}
{/block}
{block scripts}
<script src="{$basePath}/javascript/insert5.js"></script>
<script src="{$basePath}/javascript/toolbar.js"></script>
{/block}
