{block content}
<h2 n:inner-block="title">Upravit sraz</h2>
{snippet preview}
{ifset $preview}
<div class="edit-preview">
{include '%meeting.latte', meeting => $preview}
</div>
{/ifset}
{/snippet}
{control meetingForm}
{/block}
{block scripts}
<script src="{$basePath}/javascript/toolbar.js"></script>
{/block}
