{block content}
<h2 n:inner-block="title">Upravit sraz</h2>

{control meetingForm}
{/block}
{block scripts}
<script src="{$basePath}/js/insert5.js"></script>
<script src="{$basePath}/js/toolbar.js"></script>
{/block}
