<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>fan-club-penguin.cz, změna zapomenutého hesla</title>
</head>
<body>
<p>Ahoj uživateli {$username},</p>
<p>tvým jménem nás někdo požádal o změnu hesla. Pokud jsi to byl ty, neváhej si ho změnit na adrese <a href="{$url}">{$url}</a>. V opačném případě můžeš tuto zprávu s klidem smazat – pro změnu zapomenutého hesla je třeba přístup k této e-mailové schránce.</p>
<p>Zdraví správci webu <a href="http://fan-club-penguin.cz">fan-club-penguin.cz</a>.</p>
</body>
</html>
