includes:
	- vendor/phpstan/phpstan-nette/extension.neon
	- vendor/phpstan/phpstan-nette/rules.neon
	- vendor/nextras/orm-phpstan/extension.neon
	- vendor/phpstan/phpstan-mockery/extension.neon
parameters:
	level: max
	paths:
		- app
		- tests
		- www
