#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
parameters:


php:
	date.timezone: Europe/Prague
	# zlib.output_compression: yes


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter

session:
	autoStart: yes
	save_path: "%tempDir%/sessions"
	expiration: 31 days

forms:
	messages:
		PROTECTION: 'Pro větší bezpečnost prosím odešli tento formulář znovu.'

extensions:
	orm: Nextras\Orm\Bridges\NetteDI\OrmExtension
	dbal: Nextras\Dbal\Bridges\NetteDI\DbalExtension

orm:
	model: App\Model\Orm

services:
	- App\Model\UserManager
	- App\RouterFactory
	- App\Model\PurifierFactory
	oembed: Alb\OEmbed\Simple
	parsedown: ParsedownExtended
	formatter: App\Model\Formatter
	router: @App\RouterFactory::createRouter
	purifier: @App\Model\PurifierFactory::createPurifier(@Nette\Application\Application, '%tempDir%/cache')
	authorizator:
		class: Nette\Security\Permission
		setup:
			- addRole('guest')
			- addRole('new', 'guest')
			- addRole('basic', 'guest')
			- addRole('verified', 'basic')
			- addRole('moderator', 'basic')
			- addRole('editor', 'moderator')
			- addRole('admin', 'editor')

			- addResource('chat')
			- addResource('meeting')
			- addResource('page')
			- addResource('post')
			- addResource('user')
			- addResource('mail')

			- allow('basic', 'user', 'edit', App\Model\OwnershipAssertions::ownsProfile)
			- allow('basic', 'user', 'seeMailAddress', App\Model\OwnershipAssertions::ownsProfile)
			- allow('basic', 'user', 'sendMail', App\Model\OwnershipAssertions::canMail)
			- allow('basic', 'chat', 'read')
			- allow('basic', 'chat', 'send')
			- allow('basic', 'meeting', 'create')
			- allow('basic', 'meeting', 'edit', App\Model\OwnershipAssertions::ownsPage)
			- allow('basic', 'meeting', 'delete', App\Model\OwnershipAssertions::ownsPage)
			- allow('basic', 'page', 'edit')
			- allow('basic', 'mail', 'show', App\Model\OwnershipAssertions::ownsMail)

			- allow('verified', 'page', 'create')

			- allow('moderator', 'user', ['edit', 'seeMailAddress', 'rename'])
			- allow('moderator', 'meeting', ['edit', 'delete'])
			- allow('editor', 'page', ['create', 'edit', 'purge'])
			- allow('editor', 'post', ['create', 'edit', 'purge'])
