{foreach $chats as $chat}
<li n:if="!$iterator->first" title="{$chat->timestamp|date:'j. n. Y H:i:s'}" data-message-id="{$chat->id}"><strong>{$chat->user|userLink:true}:</strong> {$chat->content|noescape} <button class="chat-reply btn btn-link" title="Odpovědět"><span class="glyphicon glyphicon-share-alt"></span></button></li>
<li n:if="!$iterator->last && $iterator->nextValue->timestamp->format('Y-m-d') !== $chat->timestamp->format('Y-m-d')" class="chat-date">{$iterator->nextValue->timestamp|date:'j. n. Y'}</li>
{/foreach}
