{block content}
<h2 n:inner-block="title">Vytvořit příspěvek</h2>

{control postForm}
{/block}
{block scripts}
<script src="{$basePath}/js/insert5.js"></script>
<script src="{$basePath}/js/toolbar.js"></script>
{/block}
