{block content}
<h2 n:inner-block="title">Poslat zprávu uživateli {$addressee|userLink}</h2>
{snippet preview}
{ifset $preview}
<div class="edit-preview">
{$preview|noescape}
</div>
{/ifset}
{/snippet}
{control mailForm}
{/block}
{block scripts}
<script src="{$basePath}/javascript/toolbar.js"></script>
{/block}
