{block content}
<h2 n:inner-block="title">Poslat zprávu uživateli {$addressee|userLink}</h2>

{control mailForm}
{/block}
{block scripts}
<script src="{$basePath}/javascript/toolbar.js"></script>
{/block}
