{block content}
<div class="post">
	<h2 n:inner-block="title"><a n:href="show $page->slug">{$page->title}</a></h2>
	<div>{$content|noescape}</div>
	<div class="date">{if $allowed($page, 'edit')}<a n:href="edit $page->id">Upravit</a>{/if} · <a n:href="history $page->id">Historie</a></div>
</div>
