.chat {
	background-color: #e5e5e5;
	border-color: rgba(0, 0, 0, 0.2);
	border-image: none;
	border-style: solid solid none;
	border-width: 1px;
	bottom: 49px;
	box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
	height: 480px;
	max-height: 100%;
	max-width: 100%;
	position: fixed;
	right: 30px;
	transform: translate3d(0px, 49px, 0px);
	transition: all 0.15s ease 0s;
	width: 380px;
	will-change: transform;
	z-index: 999;
}

.chat.chat-closed {
	transform: translate3d(0px, 480px, 0px);
}

@media only screen and (max-width: 440px) {
	.chat {
		right: 0;
	}
}

@media only screen and (max-height: 480px) {
	.chat.chat-closed {
		transform: translate3d(0px, 100%, 0px);
	}
}

.chat-main {
	align-items: flex-start;
	display: flex;
	flex-flow: column nowrap;
	flex-grow: 1;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.chat header {
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
	height: 3.5em;
	max-height: 3.5em;
	min-height: 3.5em;
	transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
	width: 100%;
	z-index: 600;
}

.chat-body {
	align-items: flex-start;
	align-items: flex-end;
	display: flex;
	flex-flow: column nowrap;
	height: 100%;
	margin-top: -3.5em;
	margin-top: 0;
	overflow: hidden;
	padding-top: 3.5em;
	padding-top: 0;
	width: 100%;
}

.chat-messages {
	flex-grow: 0;
	overflow: auto;
	width: 100%;
}

.chat header {
	background-color: #2e3436;
	color: #f2f2f2;
	padding: .2em 0 0 2em;
}

.chat h2 {
	margin: 0;
	padding: 0;
	line-height: 1.5em;

	& > .popover {
		line-height: @line-height-base;
		color: @text-color;
		font-size: @font-size-base;
	}
}

.chat-input {
	max-height: 12em;
	min-height: 3.5em;
	overflow: auto;
	width: 100%;
}

.chat textarea {
	background-color: #fff;
	background-image: none;
	border-color: #b3b3b3 #ccc #ccc;
	border-image: none;
	border-style: solid;
	border-radius: 0;
	border-width: 1px 0 0;
	padding: 1em 4em 1em 1em;
	color: #434a49;
	margin: 0;
	white-space: pre-wrap;
	width: 100%;
	word-wrap: break-word;
	height: 100%;
	left: 0;
	overflow: auto;
	position: absolute;
	resize: none;
	top: 0;
}

.chat-input-actions {
	bottom: 0;
	display: block;
	font-size: 1.5em;
	height: 2.33333em;
	line-height: 1;
	position: absolute;
	right: 0;
}

.chat-input-actions button {
	background: transparent;
	border: none;
	margin: 0;
	line-height: 1;
	padding: 0.66667em 0.75em;
}

.chat-body ul {
	word-wrap: break-word;

	padding: .2em 2em;
	list-style-type: none;
}

.chat-body li + li {
	margin-top: .4em;
}

.chat-active-count {
	cursor: pointer;
}

.chat-toolbar {
	.pull-right();
	font-size: 1.5em;
	line-height: 1em;
}

.chat-toolbar button {
	appearance: none;
	background-color: transparent;
	border: none;
	padding: .5em;
}

.chat-actions {
	flex-shrink: 0;
	position: relative;
	width: 100%;
}

.chat-date {
	margin-top: .6em;
	margin-bottom: .2em;
	text-align: center;
	font-weight: bold;
	font-style: italic;
	color: #9c9c9c;
	text-shadow: 1px 1px 1px #eeeeec;
}

.role-visual.role-admin:before, .role-visual.role-moderator:before, .role-visual.role-editor:before, .role-visual.role-verified:before {
	width: 1em;
	height: 1em;
	display: block;
	float: left;
	content: '';
	background-repeat: no-repeat;
	background-position: bottom center;
	background-size: 1em;
}

.role-visual.role-admin:before {
	background-image: url(../images/chat/admin.png);
}

.role-visual.role-moderator:before {
	background-image: url(../images/chat/moderator.png);
}

.role-visual.role-editor:before {
	background-image: url(../images/chat/editor.png);
}

.role-visual.role-verified:before {
	background-image: url(../images/chat/verified.png);
}

.chat-reply {
	.pull-right();
	padding: 0;
}

.chat blockquote {
	font-size: .75em;
	padding: .2em .5em;
	border-left-color: lighten(@text-color, 10%);

	* {
		color: lighten(@text-color, 10%);
	}
}

.glyphicon-refresh-animate {
	animation: spin .7s infinite linear;
}

@keyframes spin {
	from {
		transform: scale(1) rotate(0deg);
	}

	to {
		transform: scale(1) rotate(360deg);
	}
}
