.chat {
	position: fixed;
	bottom: 0;
	right: 0;
	width: 75%;
	max-width: 400px;
	background-color: #e5e5e5;
}

.chat header {
	background-color: #2e3436;
	color: #f2f2f2;
	padding: .2em 0 0 2em;
}

.chat h2 {
	margin: 0;
	padding: 0;
	line-height: 1.5em;
}

.chat ul {
	max-height: 500px;
	word-wrap: break-word;
	overflow: auto;

	padding: .2em 2em;
	list-style-type: none;
}

.chat li + li {
	margin-top: .4em;
}

.chat-toolbar {
	.pull-right();
	font-size: 1.5em;
	line-height: 1em;
}

.chat-toolbar button {
	appearance: none;
	background-color: transparent;
	border: none;
	padding: .5em;
}

.chat-date {
	margin-top: .6em;
	margin-bottom: .2em;
	text-align: center;
	font-weight: bold;
	font-style: italic;
	color: #9c9c9c;
	text-shadow: 1px 1px 1px #eeeeec;
}
