figure {
	text-align: center;
}

img {
	max-width: 100%;
	height: auto;
}

iframe {
	border: none;
}

mark {
	background-color: yellow;
}

.post + .post {
	margin-top: 5em;
}

.nooverflow {
	overflow: hidden;
}

.rwd-media {
	position: relative;
	width: 100%;
	height: 0;
	text-align: left;
}
.rwd-media.rwd-ratio-16-9 {
	padding-bottom: 56.25%; /* 16:9 */
}
.rwd-media.rwd-ratio-4-3 {
	padding-bottom: 75%; /* 4:3 */
}

.rwd-media iframe,
.rwd-media video {
	position: absolute;
	width: 100%;
	height: 100%;
}

.pin-spoiler {
	cursor: pointer;
}

figure .carousel {
	margin: auto;
}

.gallery-small .thumbnail img {
	max-height: 180px;
	width: auto;
}

.mail>.mail {
	margin-left: 2em;
}

.stamp-disabled {
	opacity: 0.6;
}
